$primary: #3A3042
$secondary: #FF784F
$tertiary: #DB9D47
$quaternary: #303042
$quinary: #FFE19C
$colorblind-primary: #4F4FFF
$colorblind-secondary: #D9D9F9
$colorblind-tertiary: #EDFFD9
$colorblind-quaternary: #4646db
$colorblind-quinary: #9C9CFF
$colorblind-septenary: #D9D9FF 
$black: #000
