@import '../styles/_variables'

*
    box-sizing: border-box

.fondo
    background-image: url(../images/imagen_sevilla_opcion.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 750px

.colorblind
    .fondo
      background-image: url(../images/imagen_sevilla_cb.jpg) !important

.wrapper
    display: grid
    grid-template: 1fr / 1fr 1fr
    background-color: white
    border: 1px solid lightgray
    height: 100%

.destination
    margin-bottom: 20px
    font-size: 18px
    margin-right: 5px
    