@import '../styles/_variables'

*
    box-sizing: border-box

// .fondo
//     background-image: url(../images/imagen_sevilla_opcion.jpg)
//     background-size: cover
//     background-repeat: no-repeat
//     background-position: center
//     height: 750px

// .colorblind
//     .fondo
//       background-image: url(../images/imagen_sevilla_cb.jpg) !important
//     .button
//       background-color: $colorblind-primary !important
//       color: $colorblind-secondary !important

// .wrapper
//     display: grid
//     grid-template: 1fr / 1fr 1fr
//     background-color: white
//     border: 1px solid lightgray
//     height: 100%

#account-links
    font-size: 18px
    padding-left: 0
    list-style: none
    margin-top: 30px
        
.inputBlock
    margin-bottom: 20px
    label
        font-size: 18px
        margin-right: 5px
