*
    box-sizing: border-box

.sr-only
    position: absolute
    left: -10000px
    top: auto
    width: 1px
    height: 1px
    overflow: hidden

.fondo 
    background-image: url(../images/imagen_sevilla_opcion.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    //border-radius: 15px 0 0 15px
    height: 650px

.colorblind
    .fondo 
      background-image: url(../images/imagen_sevilla_cb.jpg) !important
    .button
      background-color:  #4F4FFF !important
      color: #D9D9F9 !important
      

.wrapper 
    display: grid
    grid-template: 1fr / 1fr 1fr
    background-color: white
    border: 1px solid lightgray
    //border-radius: 15px

#account-links 
    font-size: 18px
    padding-left: 0
    list-style: none
    margin-top: 30px
        
.inputBlock 
    margin-bottom: 20px
    label
        font-size: 18px
        margin-right: 5px
        

.button 
    background-color: #ff784f
    color: #EDFFD9
    padding: 10px
    border-radius: 8px
    font-size: 15px
    font-weight: bold
    
    






