@import ../styles/_variables

.topnav
    margin: -8px
    width: min-content
    text-align: justify
    position: relative
    float: left

    #myLinks, a.icon
        background: #414141

    a
        color: $senary
        
    a.icon
        display: block
        line-height: 36px
        height: 48px
        font-size: 36px
        padding: 0.4vw 1vw
        width: min-content

    #myLinks
        padding: 0.5vw 1vw 1vw
        position: absolute
        display: none

        a
            display: block
            padding: 0.5vw
            font-size: 1em
            font-weight: bold

        &.active
            display: block
