@import ../styles/_variables

#filters
    width: 30%
    padding: 1vw 7vw
    text-align: left
    float: left

    h3
        margin-top: 0
        color: $tertiary

    .border-section
        border: 1px solid $tertiary
        border-radius: 5px
        padding: 2vw 1vw

        #filter-wrapper
            margin: 0 auto
            width: min-content
            text-align: justify

            .filter
                margin-bottom: 2vw

            :last-child.filter
                margin-bottom: 0

.colorblind #filters
    h3
        color: $colorblind-tertiary

    .border-section
        border-color: $colorblind-tertiary
