footer
    text-align: center
    width: 100%
    clear: both

    #navbar
       margin: auto
    
       ul
           list-style: none
           display: inline-block

           li
               display: inline
               margin-left: 30px

       #copyright
           margin-left: 30px
           display: inline-block