#header
    clear: both

    #first-row
        display: flex
        justify-content: space-between
        padding: 1vw 2vw 1vw 2vw
        align-items: center

    #second-row
        background-color: #FFE19C
        color: #EDFFD9
        padding: 8px
        height: 40px

        #color-selector
            background-color: #FF784F
            border-color: 1px solid
            padding: 4px
            border-radius: 5px
            width: 135px
            text-align: center
            float: right
            height: 24px

            &:hover
                cursor: pointer

.colorblind #header
    #second-row
        background-color: #9C9CFF !important
        color: #D9D9FF !important

        #color-selector
            background-color: #4F4FFF !important

