@import '../styles/_variables'

#header
    clear: both

    #first-row
        display: flex
        justify-content: space-between
        padding: 1vw 2vw 1vw 2vw
        align-items: center

    #second-row
        background-color: $quinary
        color: $colorblind-tertiary
        padding: 8px
        height: 40px

        #color-selector, #volume
            background-color: $secondary
            padding: 6px
            border-radius: 5px
            width: 150px
            text-align: center
            float: right
            height: 28px
            font-weight: bold

            &:hover
                cursor: pointer

        #volume
            width: 150px
            margin-right: 8px

.colorblind #header
    #second-row 
        background-color: $colorblind-quinary !important
        color: $colorblind-septenary !important

        #color-selector, #volume
            background-color: $colorblind-primary !important

