@import '../styles/_variables'

.poi
    color: $black
    text-align: justify
    padding: 0 10px
    font-size: 14px
    
    ul
        list-style: none
        padding: 0

        li
            display: grid
            grid-template: 1fr / 25px 1fr
            
            svg.svg-inline--fa
                margin-right: 8px
                width: 16px
                
            a.poi-links
                color: $black

.card .photos
    width: 590px
    height: 350px
    border: 2px solid $black

div.gm-style
    div.gm-style-iw-a
        height: 450px !important
        width: 1000px !important
       